{% extends '@EasyAdmin/layout.html.twig' %}

{% macro display_phone(value) %}
    <a class="no-print" href="tel:value"><i class="fa fa-phone"></i></a>
{% endmacro %}

{% macro display_email(value) %}
    <a class="no-print"  href="mailto:{{ value }}"><i class="fa fa-envelope"></i></a>
{% endmacro %}

{% block content_title %}
    {{ 'dashboard.subscription.title'|trans({'name': subscription.name|default('none')}) }}
{% endblock content_title %}
    {% block head_stylesheets %}
        {{ parent() }}
        <style type="text/css">
            @media print {
                .no-print{
                    display:none;
                }

            }
            .text-danger a { color: inherit; }
            .text-success a { color: inherit; }

            .dashboard table{ color: var(--table-cell-color); }
            .dashboard .table-striped > tbody > tr:nth-of-type(2n+1) > * { color: var(--table-cell-color);}
            ul.children{
                padding-left: 1rem;
            }
            ul.children li::marker {
                content: '+ ';
            }
        </style>
    {% endblock head_stylesheets %}


{% block main %}
<div class="dashboard">
    <div class="table-responsive datagrid">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>{{ 'dashboard.subscription.header.member'|trans|capitalize }}</th>
                    <th>{{ 'dashboard.subscription.header.invoices'|trans|capitalize }}</th>
                </tr>
            </thead>
            <tbody>
                {% for ms in memberSubscriptions %}
                    <tr>
                        <td>
                            <div title="{{ ms.member.getFullAddressLine1 ~ ' ' ~ ms.member.getFullAddressLine2 }}">
                                <a href="{{ path('view_membersubscription_by_id', {id: ms.id}) }}">{{ ms.member.firstname }} {{- " " ~ ms.member.lastname | upper -}}</a>
                                {{ "&nbsp"|raw }}{{ "(" }}{{ ('subscription_type_enum.' ~ ms.type) | trans }}{{ ")" }}

                                {% if ms.member.phone %}
                                    {{ _self.display_phone(ms.member.phone) }}
                                {% endif %}
                                {% if ms.member.email %}
                                    {{ _self.display_email(ms.member.email) }}
                                {% endif %}

                                {{ (ms.price/100) | format_currency('CHF') }}
                            </div>


                            {% if ms.member.children is not empty %}
                            <ul class="children">
                                {% for child in ms.member.children %}
                                    <li>
                                        {{ child.firstname }} {{- " " ~ child.lastname | upper -}}
                                        {% if child.phone %}
                                            {{ _self.display_phone(child.phone) }}
                                        {% endif %}
                                        {% if child.email %}
                                            {{ _self.display_email(child.email) }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                            {% if ms.comment %}
                            <span class="comment">{{ ms.comment }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <a class="{{ ms.getDueAmount > 0 ? 'text-danger' : 'text-success' }}" href="{{ path("view_invoice_by_subscription_id", {id: ms.id}) }}">
                                 {{ ((ms.getDueAmount/100)*-1)|format_currency('CHF') }} <span class="no-print">💵</span>
                            </a>

                            {% if ms.invoices|length > 0 %}
                                <ul>
                                {% for invoice in ms.invoices %}
                                    <li>
                                        <a href="{{ path('view_invoice_by_id', {'id': invoice.id}) }}">
                                            <span class="createdAt">{{  invoice.createdAt|format_date('short') }}</span>
                                            <span class="status">{{  invoice.status }}</span>
                                            <span class="reference">Ref {{ invoice.reference }}</span>
                                            <span class="price">Ref {{ (invoice.price /100) | format_currency('CHF') }}</span>
                                            <span class="reminder">Reminder {{ invoice.reminder}}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                                <!-- todo btn to create invoice -->
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="no-print">
            {{ 'dashboard.number_member_count' | trans({'count': countMembers}) }}<br>
            {{ 'dashboard.due_amount' | trans({'amount': (dueAmount/100)|format_currency('CHF') }) }}<br>
            {{ 'dashboard.pending_amount' | trans({'amount': (pendingAmount/100)|format_currency('CHF') }) }}<br>
            {{ 'dashboard.paid_amount' | trans({'amount': (paidAmount/100)|format_currency('CHF') }) }}
        </div>
        {% if memberSubscriptions|length > 0 %}
        <div class="no-print btn-group mr-2">
            <a class="btn btn-secondary" href="{{ path('admin_generate_invoices', {'subscriptionName': subscription.name ?? ''}) }}">{{ "Generate invoices"|trans }}</a>
            <a class="btn btn-secondary" href="{{ path('admin_print_invoices', {'subscriptionName': subscription.name ?? ''}) }}">{{ "Print invoices"|trans }}</a>
            <a class="btn btn-secondary" href="{{ path('admin_import_camt') }}">{{ "Import Camt"|trans }}</a>
            <a class="btn btn-secondary" href="{{ path('mark_invoice_as_pending',{'subscriptionName': subscription.name ?? ''}) }}">{{ "Mark open invoices as pending"|trans }}</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock main %}
